<section class="page-section" id="services">
  <div class="container">
    <main class="bd-content" role="main">
      <h2 class="section-heading text-center text-uppercase">
        Abjad Braille Arab
      </h2>
      <h3 class="section-subheading text-center text-muted">
        Edisi Standard Indonesia
      </h3>
      <p class="lead">
        Kode Braille Arab Braille Arab adalah alfabet braille untuk bahasa Arab.
        Kode Braille Arab terpadu diadopsi pada tahun 1950-an sebagai bagian
        dari gerakan menuju braille internasional. Konferensi Pengembangan dan
        Pemersatu Karakter Braille Arab bertemu di Arab Saudi pada bulan Oktober
        2002. Ada konfirmasi dari beberapa negara bahwa mereka menggunakan kode
        braille terpadu ini, dan negara lain tidak.
      </p>

      <table class="table table-striped table-bordered" style="width: 100%">
        <tbody>
          <tr>
            <th scope="col">Character</th>
            <th scope="col">Braille</th>
            <th scope="col">Braille dots</th>
          </tr>
          <tr>
            <td>ا</td>
            <td class="brailleFont">⠁</td>
            <td>1</td>
          </tr>
          <tr>
            <td>ب</td>
            <td class="brailleFont">⠃</td>
            <td>12</td>
          </tr>
          <tr>
            <td>ت</td>
            <td class="brailleFont">⠞</td>
            <td>2345</td>
          </tr>
          <tr>
            <td>ث</td>
            <td class="brailleFont">⠹</td>
            <td>1456</td>
          </tr>
          <tr>
            <td>ج</td>
            <td class="brailleFont">⠚</td>
            <td>245</td>
          </tr>
          <tr>
            <td>ح</td>
            <td class="brailleFont">⠱</td>
            <td>156</td>
          </tr>
          <tr>
            <td>خ</td>
            <td class="brailleFont">⠭</td>
            <td>1346</td>
          </tr>
          <tr>
            <td>د</td>
            <td class="brailleFont">⠙</td>
            <td>145</td>
          </tr>
          <tr>
            <td>ذ</td>
            <td class="brailleFont">⠮</td>
            <td>2346</td>
          </tr>
          <tr>
            <td>ر</td>
            <td class="brailleFont">⠗</td>
            <td>1235</td>
          </tr>
          <tr>
            <td>ز</td>
            <td class="brailleFont">⠵</td>
            <td>1356</td>
          </tr>
          <tr>
            <td>س</td>
            <td class="brailleFont">⠎</td>
            <td>234</td>
          </tr>
          <tr>
            <td>ش</td>
            <td class="brailleFont">⠩</td>
            <td>146</td>
          </tr>
          <tr>
            <td>ص</td>
            <td class="brailleFont">⠯</td>
            <td>12346</td>
          </tr>
          <tr>
            <td>ض</td>
            <td class="brailleFont">⠫</td>
            <td>1246</td>
          </tr>
          <tr>
            <td>ط</td>
            <td class="brailleFont">⠾</td>
            <td>23456</td>
          </tr>
          <tr>
            <td>ظ</td>
            <td class="brailleFont">⠿</td>
            <td>123456</td>
          </tr>
          <tr>
            <td>ع</td>
            <td class="brailleFont">⠷</td>
            <td>12356</td>
          </tr>
          <tr>
            <td>غ</td>
            <td class="brailleFont">⠣</td>
            <td>126</td>
          </tr>
          <tr>
            <td>ف</td>
            <td class="brailleFont">⠋</td>
            <td>124</td>
          </tr>
          <tr>
            <td>ق</td>
            <td class="brailleFont">⠟</td>
            <td>12345</td>
          </tr>
          <tr>
            <td>ك</td>
            <td class="brailleFont">⠅</td>
            <td>13</td>
          </tr>
          <tr>
            <td>ل</td>
            <td class="brailleFont">⠇</td>
            <td>123</td>
          </tr>
          <tr>
            <td>م</td>
            <td class="brailleFont">⠍</td>
            <td>134</td>
          </tr>
          <tr>
            <td>ن</td>
            <td class="brailleFont">⠝</td>
            <td>1345</td>
          </tr>
          <tr>
            <td>ه</td>
            <td class="brailleFont">⠓</td>
            <td>125</td>
          </tr>
          <tr>
            <td>و</td>
            <td class="brailleFont">⠺</td>
            <td>2456</td>
          </tr>
          <tr>
            <td>ي</td>
            <td class="brailleFont">⠊</td>
            <td>24</td>
          </tr>
        </tbody>
      </table>
      <h2>Ligatures</h2>
      <table class="table table-striped table-bordered" style="width: 100%">
        <tbody>
          <tr>
            <th scope="col">Character</th>
            <th scope="col">Braille</th>
            <th scope="col">Braille dots</th>
          </tr>
          <tr>
            <td>لا</td>
            <td class="brailleFont">⠧</td>
            <td>1236</td>
          </tr>
          <tr>
            <td>ى</td>
            <td class="brailleFont">⠕</td>
            <td>135</td>
          </tr>
          <tr>
            <td>أ</td>
            <td class="brailleFont">⠌</td>
            <td>34</td>
          </tr>
          <tr>
            <td>إ</td>
            <td class="brailleFont">⠨</td>
            <td>46</td>
          </tr>
          <tr>
            <td>آ</td>
            <td class="brailleFont">⠜</td>
            <td>345</td>
          </tr>
          <tr>
            <td>ء</td>
            <td class="brailleFont">⠄</td>
            <td>3</td>
          </tr>
          <tr>
            <td>ؤ</td>
            <td class="brailleFont">⠳</td>
            <td>1256</td>
          </tr>
          <tr>
            <td>ئ</td>
            <td class="brailleFont">⠽</td>
            <td>13456</td>
          </tr>
          <tr>
            <td>ة</td>
            <td class="brailleFont">⠡</td>
            <td>16</td>
          </tr>
        </tbody>
      </table>
      <div class="page" title="Page 183">
        <div class="layoutArea">
          <div class="column">
            <h2>Diacritical Marks</h2>
          </div>
        </div>
      </div>
      <div class="page" title="Page 183">
        <div class="layoutArea">
          <div class="column">
            <p>
              Diacritical marks are positioned after the letter, except the
              Shadda which is positioned before the letter
            </p>
          </div>
        </div>
      </div>
      <table class="table table-striped table-bordered" style="width: 100%">
        <tbody>
          <tr>
            <th scope="col">Character</th>
            <th scope="col">Braille</th>
            <th scope="col">Braille dots</th>
          </tr>
          <tr>
            <td>◌َ (Fatha)</td>
            <td class="brailleFont">⠂</td>
            <td>2</td>
          </tr>
          <tr>
            <td>◌ِ (Kasra)</td>
            <td class="brailleFont">⠑</td>
            <td>15</td>
          </tr>
          <tr>
            <td>◌ (Damma)</td>
            <td class="brailleFont">⠥</td>
            <td>136</td>
          </tr>
          <tr>
            <td>◌ً (Fathatan)</td>
            <td class="brailleFont">⠆</td>
            <td>23</td>
          </tr>
          <tr>
            <td>◌ٍ (Kasratan)</td>
            <td class="brailleFont">⠔</td>
            <td>35</td>
          </tr>
          <tr>
            <td>◌ٌ (Dammatan)</td>
            <td class="brailleFont">⠢</td>
            <td>26</td>
          </tr>
          <tr>
            <td>◌ّ (Shadda)</td>
            <td class="brailleFont">⠠</td>
            <td>6</td>
          </tr>
          <tr>
            <td>◌ْ (Sukun)</td>
            <td class="brailleFont">⠒</td>
            <td>25</td>
          </tr>
        </tbody>
      </table>
      <div class="page" title="Page 183">
        <div class="layoutArea">
          <div class="column">
            <h2>Numbers</h2>
          </div>
        </div>
      </div>
      <table class="table table-striped table-bordered" style="width: 100%">
        <tbody>
          <tr>
            <th scope="col">Character</th>
            <th scope="col">Braille</th>
            <th scope="col">Braille dots</th>
          </tr>
          <tr>
            <td>  number sign</td>
            <td class="brailleFont">⠼</td>
            <td>3456</td>
          </tr>
          <tr>
            <td>١ 1</td>
            <td class="brailleFont">⠼⠁</td>
            <td>3456 1</td>
          </tr>
          <tr>
            <td>٢ 2</td>
            <td class="brailleFont">⠼⠃</td>
            <td>3456 12</td>
          </tr>
          <tr>
            <td>٣ 3</td>
            <td class="brailleFont">⠼⠉</td>
            <td>3456 14</td>
          </tr>
          <tr>
            <td>٤ 4</td>
            <td class="brailleFont">⠼⠙</td>
            <td>3456 145</td>
          </tr>
          <tr>
            <td>٥ 5</td>
            <td class="brailleFont">⠼⠑</td>
            <td>3456 15</td>
          </tr>
          <tr>
            <td>٦ 6</td>
            <td class="brailleFont">⠼⠋</td>
            <td>3456 124</td>
          </tr>
          <tr>
            <td>٧ 7</td>
            <td class="brailleFont">⠼⠛</td>
            <td>3456 1245</td>
          </tr>
          <tr>
            <td>٨ 8</td>
            <td class="brailleFont">⠼⠓</td>
            <td>3456 125</td>
          </tr>
          <tr>
            <td>٩ 9</td>
            <td class="brailleFont">⠼⠊</td>
            <td>3456 24</td>
          </tr>
          <tr>
            <td>٠ 0</td>
            <td class="brailleFont">⠼⠚</td>
            <td>3456 245</td>
          </tr>
        </tbody>
      </table>
      <div class="page" title="Page 183">
        <div class="layoutArea">
          <div class="column">
            <h2>Punctuation</h2>
          </div>
        </div>
      </div>
      <table class="table table-striped table-bordered" style="width: 100%">
        <tbody>
          <tr>
            <th scope="col">Character</th>
            <th scope="col">Braille</th>
            <th scope="col">Braille dots</th>
          </tr>
          <tr>
            <td>، comma</td>
            <td class="brailleFont">⠐</td>
            <td>5</td>
          </tr>
          <tr>
            <td>؛ semi-colon</td>
            <td class="brailleFont">⠰</td>
            <td>56</td>
          </tr>
          <tr>
            <td>: colon</td>
            <td class="brailleFont">⠐⠂</td>
            <td>5, 2</td>
          </tr>
          <tr>
            <td>. full stop/period</td>
            <td class="brailleFont">⠲</td>
            <td>256</td>
          </tr>
          <tr>
            <td>؟ question mark</td>
            <td class="brailleFont">⠦</td>
            <td>236</td>
          </tr>
          <tr>
            <td>! exclamation</td>
            <td class="brailleFont">⠖</td>
            <td>235</td>
          </tr>
          <tr>
            <td>“…”, «…» quote</td>
            <td class="brailleFont">⠶ … ⠶</td>
            <td>2356 … 2356</td>
          </tr>
          <tr>
            <td>(…) parentheses</td>
            <td class="brailleFont">⠦ … ⠴</td>
            <td>236 … 356</td>
          </tr>
          <tr>
            <td>dash/hyphen</td>
            <td class="brailleFont">⠤</td>
            <td>36</td>
          </tr>
          <tr>
            <td>long dash or hyphen</td>
            <td class="brailleFont">⠤⠤</td>
            <td>36 36</td>
          </tr>
          <tr>
            <td>per cent</td>
            <td class="brailleFont">⠒⠏</td>
            <td>25 1234</td>
          </tr>
        </tbody>
      </table>
    </main>
  </div>
</section>
