<section class="page-section" id="services">
  <div class="container">
    <main class="bd-content" role="main">
      <h2 class="section-heading text-center text-uppercase">
        Standar Braille Arab
      </h2>
      <h3 class="section-subheading text-center text-muted">
        Edisi Penyempurnaan
      </h3>
      <p class="lead">
        Kode Braille Arab Braille Arab adalah alfabet braille untuk bahasa Arab.
        Kode Braille Arab terpadu diadopsi pada tahun 1950-an sebagai bagian
        dari gerakan menuju braille internasional. Konferensi Pengembangan dan
        Pemersatu Karakter Braille Arab bertemu di Arab Saudi pada bulan Oktober
        2002. Ada konfirmasi dari beberapa negara bahwa mereka menggunakan kode
        braille terpadu ini, dan negara lain tidak.
      </p>
      <p>
        Kehadiran Mushaf Standar Braille tidak terlepas dari sejarah penyalinan
        mushaf Al-Qur’an Braille di Indonesia yang perkembangannya melewati
        beberapa fase, yaitu fase duplikasi, adaptasi dan standarisasi. Fase
        duplikasi dimulai setelah Supardi Abdushomad (w. 1975), seorang
        tunanetra asal Yogyakarta berhasil mengungkap sistem tulisan yang
        digunakan dalam Al-Qur’an Braille Yordan yang diterimanya dari seorang
        pegawai Departemen Sosial pada tahun 1963. Mushaf Braille pertama di
        dunia ini diperkirakan sudah ada di Indonesia sejak tahun 1954 ketika
        Lembaga Penerbitan dan Perpustakaan Braille Indonesia (LPPBI) yang
        bernaung di bawah Departemen Sosial dan berkedudukan di Bandung menerima
        kiriman Al-Qur’an Braille dari Unesco. Sejak saat itulah, Supardi
        bersama dengan para koleganya di bawah Yayasan Kesejahteraan Tunanetra
        Islam (Yaketunis) mulai mengembangakan mushaf Braille dengan mengacu
        pada sistem yang digunakan dalam Mushaf Braille Yordan.
      </p>
      <p>
        Fase selanjutnya adalah fase adaptasi yang menandai munculnya ragam
        penulisan Mushaf Braille di Indonesia. Berawal dari upaya kajian dan
        pengembangan yang terus dilakukan, selain tetap mengacu pada pola
        penulisan (rasm) imlai sebagaimana yang digunakan pada Mushaf Yordan,
        Yaketunis juga melakukan adaptasi sistem penulisan Mushaf Braille
        Pakistan yang telah mengenalkan penggunaan kode harakat isybaiyyah dan
        tanda waqaf. Di sisi lain, muncul pula upaya penyalinan mushaf Braille
        yang dilakukan oleh Yayasan Penyantun Wyata Guna (YPWG) Bandung. Berbeda
        dengan Yaketunis, YPWG melalui inisiatornya Abdullah Yatim Piatu
        menempuh cara agak berbeda dalam menyusun Mushaf Braille. Selain tetap
        mengacu pada sistem Braille yang telah dikembangkan oleh Yaketunis,
        Abdullah lebih memilih Mushaf Al-Qur’an cetak yang berkembang saat itu
        sebagai pedoman dalam penggunaan pola penulisan (rasm) dan penerapan
        tanda baca tajwid. Pada fase inilah mulai lahir dua versi Mushaf Braille
        di Indonesia yang perbedaan utamanya terletak pada rasm yang digunakan.
        Versi Yaketunis mengikuti rasm imlai sebagaimana yang digunakan dalam
        Mushaf Yordan dan Pakistan, sedangkan versi YPWG lebih memilih
        menggunakan rasm usmani seperti yang digunakan pada mushaf cetak saat
        itu.
      </p>
      <p>
        Sejak dua versi mushaf Braille tersebut berkembang dan masing-masing
        mempunyai para pengguna setia, maka munculah polemik di kalangan
        tunanetra muslim. Kondisi tersebut dikuatirkan berpotensi mengancam
        ikatan persaudaraan dan membuat proses pengajaran Al-Qur’an Braille di
        kalangan tunanetra terganggu. Oleh karena itu, upaya untuk mencari titik
        temu (unifikasi) pun dilakukan melalui proses yang cukup panjang.
        Melalui Musyawarah Kerja (Muker) Ulama Ahli Al-Qur’an yang
        diselenggarakan oleh Departmen Agama selama 9 kali (1974-1983) serta
        melibatkan para ulama dan praktisi Al-Qur’an Braille akhirnya upaya
        penyatuan tersebut berhasil dilakukan. Setahun setelah Muker ke-9
        selesai, Mushaf Standar Braille kemudian ditetapkan melalui Keputusan
        Menteri Agama (KMA) No. 25 Tahun 1984 tentang Penetapan Mushaf Standar
        Indonesia. Disusul dengan lahirnya Instruksi Menteri Agama Nomor 07
        Tahun 1984 tentang Penggunaan Mushaf Standar, maka sejak saat itulah
        seluruh penerbitan Mushaf Braille di Indonesia mengacu pada Mushaf
        Standar Braille.
      </p>
    </main>
  </div>
</section>
