<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Selamat Datang di Laman Nur Ichsan</div>
    <div class="masthead-heading text-uppercase">Tentang Arabic Braille</div>
    <a
      class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
      href="#services"
      >Telusuri Arabic Braille</a
    >
  </div>
</header>
