<section class="page-section" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Arabic Braille</h2>
      <h3 class="section-subheading text-muted">
        Standar Arabic Braille Indonesia.
      </h3>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <a href="/standard">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-braille fa-stack-1x fa-inverse"></i>
          </span>

          <h4 class="my-3">Tentang Arabic Braille</h4></a
        >
        <p class="text-muted">
          Kode Braille Arab Braille Arab adalah alfabet braille untuk bahasa
          Arab. Kode Braille Arab terpadu diadopsi pada tahun 1950-an sebagai
          bagian dari gerakan menuju braille internasional.
        </p>
      </div>

      <div class="col-md-6">
        <a href="/abjad">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-braille fa-stack-1x fa-inverse"></i>
          </span>

          <h4 class="my-3">Daftar Abjad Arabic Braille</h4></a
        >
        <p class="text-muted">
          Abjad Braille Arab Adalah Salah satu standard penulisan huruf arab
          braille yang telah dibakukan di Indonesia yang diperuntukkan bagi para
          tunanetra
        </p>
      </div>

      <div class="col-md-6">
        <a href="translasi">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="my-3">Translasi Arabic Unicode Ke Braille</h4>
        </a>
        <p class="text-muted">
          Contoh penggunaan translasi dari Arabic unicode ke braille standard
        </p>
      </div>
      <div class="col-md-6">
        <a href="sixkey">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="far fa-keyboard fa-stack-1x fa-inverse"></i>
          </span>

          <h4 class="my-3">Six Key Arabic Braille</h4>
        </a>
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
          maxime quam architecto quo inventore harum ex magni, dicta impedit.
        </p>
      </div>
    </div>
  </div>
</section>
